html, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-color: #f4f4f4;
}

/*Responsive*/
/*PC*/
@media only screen and (min-width: 1025px){
    .titulo{
        margin-top: 10vh;
        font-size: 1vw;
    }

    .main{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100vw;
        height: 100vh;
    }

    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;

        width: 40%;
        height: auto;

        border: 1px solid #ddd;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        margin-top: 5vh;
    }

    .info{
        display: flex;
        width: 70%;
        justify-content: left;
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 1vw;
        color: #135186;
    }

    .vp, .interes, .periodo{
        display: flex;
        justify-content: space-between;

        width: 70%;

        font-size: 1vw;
        margin-bottom: 5%;
    }

    .form input[type = "button"]{
        border: 1px solid black;
        border-radius: 5px;

        cursor: pointer;

        margin-bottom: 20px;
    }

    #resultado{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 50%;
        margin-top: 15px;

        flex-direction: column;

        font-size: 2vw;
    }

    .info-adicional{
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 1vw;
        padding-bottom: 1vw;

        margin-top: 100px;

        width: 70vw;

        background-color: #fff;

        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .info-adicional h2, h3{
        color: #135186;
    }
}

/*Tablet*/

@media only screen and (max-width: 1024px) and (min-width: 601px){
    .titulo{
        margin-top: 10vh;
        font-size: 15px;

        font-size: 1vw;
    }

    .main{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100vw;
        height: 100vh;
    }

    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: #fff;

        width: 70%;
        height: auto;

        border: 1px solid #ddd;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        margin-top: 5vh;
    }

    .info{
        display: flex;
        width: 60%;
        justify-content: left;
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 2vw;
        color: #135186; 
    }

    .vp, .interes, .periodo{
        display: flex;
        justify-content: space-between;

        width: 60%;

        font-size: 2vw;
        margin-bottom: 5%;
    }

    .form input[type = "button"]{
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;

        cursor: pointer;

        margin-bottom: 20px;
    }

    #resultado{
        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;
        width: 60%;
        margin-top: 15px;

        font-size: 2vw;
    }

    .info-adicional{
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 1vw;
        padding-bottom: 1vw;

        margin-top: 100px;

        width: 70vw;

        background-color: #fff;

        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .info-adicional h2, h3{
        color: #135186;
    }
}

/*Celular*/

@media (max-width:600px){
    .titulo{
        margin-top: 10vh;
        font-size: 15px;

        font-size: 2vw;
    }

    .main{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100vw;
        height: 100vh;
    }

    .form{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        background-color: #fff;

        width: 80%;
        height: auto;

        border: 1px solid #ddd;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        margin-top: 5vh;
    }

    .info{
        display: flex;
        justify-content: left;
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 3vw;
        color: #135186;
    }

    .vp, .interes, .periodo{
        display: flex;
        flex-direction: column;

        font-size: 4vw;
        margin-bottom: 5%;
    }

    .form input[type = "button"]{
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;

        cursor: pointer;

        margin-bottom: 20px;
    }

    label{
        padding-bottom: 5px;
    }

    #resultado{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 80%;
        margin-top: 15px;

        flex-direction: column;

        font-size: 4vw;
    }
    
    .info-adicional{
        padding-left: 3vw;
        padding-right: 3vw;
        padding-top: 1vw;
        padding-bottom: 1vw;

        margin-top: 100px;

        width: 70vw;

        background-color: #fff;

        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .info-adicional h2, h3{
        color: #135186;
    }
}